*.class
log/applog.txt
log/pmlog.txt
log/vmlog.txt
knowledge/*.arff

# Package Files #
#*.jar
*.war
*.ear
input.csv

analyse/lsdc.qvw
log/analysis.txt
log/executions.txt
log/possibilities.txt
log/analysis.txt
log/executions.txt
log/possibilities.txt
knowledge/CreateAppInsertIntoVm.arff
knowledge/CreateVmInsertApp.arff
log/possibilities.txt
log
